/* Start Header */
/* Navigation Bar */
header nav div a {
  font-family: "Mulish", sans-serif;
  color: #414141;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.08px;
  text-decoration: none;
}

header nav button {
  font-family: "Mulish", sans-serif;
  color: #f7f7fc;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.75px;
}

.btn-primary {
  background-color: #5f2eea;
  border-color: #5f2eea;
}

.btn-primary:hover {
  background-color: #592fce;
  border-color: #592fce;
}
/* Hero content */
header section .mt-7 {
  margin-top: 70px;
}

header section .mb-7 {
  margin-bottom: 70px;
}

.text-muted {
  color: #a0a3bd !important;
  font-family: "Mulish", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text-primary {
  color: #5f2eea !important;
  font-family: "Mulish", sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
/* End Header */

/* Start Now Showing */
#now-showing {
  background-color: #f5f6f8;
}
/* Header Tittle */
.now-showing-tittle-left {
  color: #5f2eea;
  font-family: "Mulish", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.now-showing-tittle-right {
  color: #5f2eea;
  text-align: right;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.15px;
  text-decoration: none;
}
/* Now Showing Content */
.movie-poster {
  transition: 1s ease;
}

.movie-poster:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s ease;
}
